* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.33s linear;
}

.navbar {
  display: flex;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  color: #fff;
}
.navbar h1 {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 33rem;
  cursor: pointer;
}
.navbar h1:hover {
  background-color: #1361af;
}
.navbar i {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 33rem;
  cursor: pointer;
}
.navbar i:hover {
  background-color: #1361af;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.products h1 {
  color: dodgerblue;
}
.products__content {
  display: flex;
  flex-wrap: wrap;
}
.products__content__product {
  background-color: #0001;
  border-radius: 30px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.products__content__product img {
  width: 14rem;
}
.products__content__product__info {
  display: flex;
  justify-content: space-between;
}
.products__content__product__addCart {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid dodgerblue;
  border-radius: 33rem;
  cursor: pointer;
}
.products__content__product__addCart:hover {
  background-color: dodgerblue;
}

.cart {
  position: absolute;
  top: 10vh;
  background-color: aqua;
  animation-name: example;
  animation-duration: 1s;
  width: 100%;
  height: 90vh;
}

.count {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.count img {
  width: 5rem;
}
.count h1 {
  font-size: 2rem;
}

@keyframes example {
  0% {
    width: 0%;
    height: 0vh;
  }
  100% {
    width: 100%;
    height: 90vh;
  }
}
