.fa-star {
  color: #0003;
  font-size: 3rem;
}
.fa-star:hover {
  color: rgb(235, 217, 111);
}
.golden {
  color: gold;
}

#loader {
  width: 300px;
  height: 1rem;
  background-color: #0003;
  transition: ease-out 6s;
  position: relative;
  overflow: hidden;
}
#loaderBlue {
  position: absolute;
  left: -300px;
  width: 300px;
  height: 1rem;
  background-color: dodgerblue;
  transition: ease-out 6s;
}
#start {
  background-color: dodgerblue;
  padding: 0.1rem 1rem;
  font-size: 1.5rem;
  border: 1px solid;
  color: #fff;

  width: 13rem;
}
.loader {
  box-shadow: inset 500px 0 0 0 dodgerblue;
}

/* cell */

.mainCell {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  border: 1px solid #000;
}
.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-shadow: inset 1px 1px 1px #000;
}
